prune tests
prune docs

include LICENSE.rst

exclude .editorconfig
exclude .readthedocs.yml
exclude CHANGELOG.rst
exclude CODE_OF_CONDUCT.md
exclude CONTRIBUTING.rst
exclude pre-commit-hook
exclude requirements.txt
exclude tox.ini
